:root {
  --body-bg: #ffffff;
  --main-color: #646464;
}

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  color: var(--main-color);
  background-color: var(--body-bg);
}

*:focus-visible {
  outline: none;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.section {
  width: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 1376px;
  margin: 0 auto;
}
